### Pandas Data Analysis, Yfinance

In [2]:
# Use "pip install pandas" in terminal to install pandas
import pandas as pd

In [3]:
# Let's define a two-dimensional Pandas DataFrame from a python dictionary 
# We will use Pandas DataFrame constructor method "pd.DataFrame()" to create our Pandas DataFrame
# Data Source: https://statisticstimes.com/economy/projected-world-gdp-ranking.php

GDP_df = pd.DataFrame({'Country ID': ['USA', 'CHN' , 'IND', 'ARE', 'CAN', 'MEX'],
                       'Country':['United States', 'China', 'India', 'United Arab Emirates', 'Canada', 'Mexico'],
                       'GDP Per Capita [$]':[69375, 11891, 2116, 43538, 52791, 9967],
                       'Global Rank':[5, 64, 150, 24, 15, 72]})
GDP_df

  Country ID               Country  GDP Per Capita [$]  Global Rank
0        USA         United States               69375            5
1        CHN                 China               11891           64
2        IND                 India                2116          150
3        ARE  United Arab Emirates               43538           24
4        CAN                Canada               52791           15
5        MEX                Mexico                9967           72

In [5]:
# Let's obtain the data type of this pandas DataFrame 
print(type(GDP_df))
# Let's view the last couple of rows using ".tail()" method
print(GDP_df.tail(2))
# Let's view the first couple of rows using ".head()" method
GDP_df.head(2)

<class 'pandas.core.frame.DataFrame'>
  Country ID Country  GDP Per Capita [$]  Global Rank
4        CAN  Canada               52791           15
5        MEX  Mexico                9967           72

  Country ID        Country  GDP Per Capita [$]  Global Rank
0        USA  United States               69375            5
1        CHN          China               11891           64

In [6]:
# You can access a specific column in the Pandas DataFrame using the header name  
GDP_df['GDP Per Capita [$]']

0    69375
1    11891
2     2116
3    43538
4    52791
5     9967
Name: GDP Per Capita [$], dtype: int64

In [7]:
# Obtain DataFrame information using the info() method
GDP_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country ID          6 non-null      object
 1   Country             6 non-null      object
 2   GDP Per Capita [$]  6 non-null      int64
 3   Global Rank         6 non-null      int64
dtypes: int64(2), object(2)
memory usage: 320.0+ bytes

In [8]:
# Stock prices obtained from Yahoo Finance as of Oct 17th, 2022
portfolio_df = pd.DataFrame({'company name': ['Alphabet', 'Netflix', 'Bank of America', 'Boeing', 'Apple'],
                             'stock ticker symbol':['GOOG', 'NFLX', 'BOA', 'BA', 'AAPL'],
                             'price per share [$]':[99, 245, 33, 136, 142],
                             'number of shares':[2, 7, 15, 30, 22]})
portfolio_df

      company name stock ticker symbol  price per share [$]  number of shares
0         Alphabet                GOOG                   99                 2
1          Netflix                NFLX                  245                 7
2  Bank of America                 BOA                   33                15
3           Boeing                  BA                  136                30
4            Apple                AAPL                  142                22

In [9]:
# Obtain a statistical summary
portfolio_df.describe()

       price per share [$]  number of shares
count             5.000000          5.000000
mean            131.000000         15.200000
std              77.087612         11.256109
min              33.000000          2.000000
25%              99.000000          7.000000
50%             136.000000         15.000000
75%             142.000000         22.000000
max             245.000000         30.000000

In [12]:
# Multiply the "price per share" by the "number of stocks"
stocks_dollar_value = portfolio_df['price per share [$]'] * portfolio_df['number of shares']
print(stocks_dollar_value)

# Sum up all values
print('The total value of the portfolio = ${}'.format(stocks_dollar_value.sum()))

0     198
1    1715
2     495
3    4080
4    3124
dtype: int64
The total value of the portfolio = $9612

#### Handling missing data

In [15]:
# Pandas is used to read a csv file and store data in a DataFrame
investor_df = pd.read_csv('investors_data.csv')
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,Ryan,David,32,80100.0,5.0,aggressive,buy house
1,Sherif,George,54,950000.0,30.0,conservative,retire
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education
3,Victoria,Keller,43,300901.0,NaN,moderate,investment property
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire
6,Chris,Peter,38,NaN,8.0,moderate,kids education
7,Nancy,Smith,55,900000.0,17.0,conservative,retire
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early

In [16]:
# Let's locate rows and columns that have Null values
# isnull() method returns a new DataFrame containing "True" in Null locations and "False" otherwise
investor_df.isnull()

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False
6,False,False,False,True,False,False,False
7,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False

In [17]:
# Let's see the total number of missing elements per column
investor_df.isnull().sum()

First Name                    0
Last Name                     0
Age                           0
Portfolio Size                1
Years with Investment Firm    1
Risk Tolerance                0
Goal                          0
dtype: int64

In [18]:
# Drop any row that contains a Null value 
# Note that the size of the dataframe has been reduced 
investor_df.dropna(how = 'any', inplace = True)

In [19]:
# Notice that rows 3 and 6 no longer exist!
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,Ryan,David,32,80100.0,5.0,aggressive,buy house
1,Sherif,George,54,950000.0,30.0,conservative,retire
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire
7,Nancy,Smith,55,900000.0,17.0,conservative,retire
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early

In [20]:
# Let's check if we still have any missing values
investor_df.isnull().sum()

First Name                    0
Last Name                     0
Age                           0
Portfolio Size                0
Years with Investment Firm    0
Risk Tolerance                0
Goal                          0
dtype: int64

In [21]:
# Let's explore an alternative (smarter) method to deal with missing values
# Let's read the raw data again using Pandas as follows
investor_df = pd.read_csv('investors_data.csv')
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,Ryan,David,32,80100.0,5.0,aggressive,buy house
1,Sherif,George,54,950000.0,30.0,conservative,retire
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education
3,Victoria,Keller,43,300901.0,NaN,moderate,investment property
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire
6,Chris,Peter,38,NaN,8.0,moderate,kids education
7,Nancy,Smith,55,900000.0,17.0,conservative,retire
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early

In [22]:
# Let's obtain a statistical summary using "describe()" method
investor_df.describe()

             Age  Portfolio Size  Years with Investment Firm
count   9.000000        8.000000                    8.000000
mean   40.111111   353183.625000                   11.000000
std    11.634479   377372.061973                    9.561829
min    23.000000     1500.000000                    1.000000
25%    32.000000    70389.500000                    4.250000
50%    40.000000   225705.000000                    9.000000
75%    50.000000   525900.750000                   15.500000
max    55.000000   950000.000000                   30.000000

In [23]:
# Calculate the average portfolio size
investor_df['Portfolio Size'].mean()

353183.625

In [26]:
# You can use .fillna() to fill missing locations with a certain value
investor_df['Portfolio Size'].fillna(investor_df['Portfolio Size'].mean())

0     80100.000
1    950000.000
2    150509.000
3    300901.000
4     41258.000
5    401201.000
6    353183.625
7    900000.000
8      1500.000
Name: Portfolio Size, dtype: float64

In [25]:
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,Ryan,David,32,80100.000,5.0,aggressive,buy house
1,Sherif,George,54,950000.000,30.0,conservative,retire
2,Sandra,Stevenson,40,150509.000,10.0,moderate,kids education
3,Victoria,Keller,43,300901.000,NaN,moderate,investment property
4,Sarah,Aly,26,41258.000,2.0,aggressive,pay student loans
5,Bassel,Nasr,50,401201.000,15.0,conservative,retire
6,Chris,Peter,38,353183.625,8.0,moderate,kids education
7,Nancy,Smith,55,900000.000,17.0,conservative,retire
8,Heidi,Smith,23,1500.000,1.0,moderate,retire early

#### Filtering, Sorting

In [30]:
# Pandas is used to read a csv file and store data in a DataFrame
investor_df = pd.read_csv('investors_data.csv')
investor_df.head()

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,Ryan,David,32,80100.0,5.0,aggressive,buy house
1,Sherif,George,54,950000.0,30.0,conservative,retire
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education
3,Victoria,Keller,43,300901.0,NaN,moderate,investment property
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans

In [29]:
# Select Loyal clients who have been with the investment firm for at least 15 years
loyal_df = investor_df[ investor_df['Years with Investment Firm'] >=15  ]
# You might need to reset the index for the new Pandas DataFrame
loyal_df.reset_index(inplace = True)
loyal_df

,index,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,1,Sherif,George,54,950000.0,30.0,conservative,retire
1,5,Bassel,Nasr,50,401201.0,15.0,conservative,retire
2,7,Nancy,Smith,55,900000.0,17.0,conservative,retire

In [37]:
# You can sort the values in the dataframe according to the portfolio size
# Set inplace = True to ensure that change has taken place in memory 
investor_df.sort_values(by = 'Portfolio Size', inplace = True)
investor_df.head()

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans
0,Ryan,David,32,80100.0,5.0,aggressive,buy house
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education
3,Victoria,Keller,43,300901.0,NaN,moderate,investment property

#### DataFrame Functions

In [39]:
# Define a function that increases the value of x by 10%
def portfolio_update(x):
    return x * 1.1 # assume that portfolio increased by 10%

# Apply a function to the DataFrame column, add  results to a new column titled "Updated portfolio Size"
investor_df['Updated Portfolio Size'] = investor_df['Portfolio Size'].apply(portfolio_update)
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal,Updated Portfolio Size
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early,1650.0
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans,45383.8
0,Ryan,David,32,80100.0,5.0,aggressive,buy house,88110.0
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education,165559.9
3,Victoria,Keller,43,300901.0,NaN,moderate,investment property,330991.1
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire,441321.1
7,Nancy,Smith,55,900000.0,17.0,conservative,retire,990000.0
1,Sherif,George,54,950000.0,30.0,conservative,retire,1045000.0
6,Chris,Peter,38,NaN,8.0,moderate,kids education,NaN

In [41]:
import numpy as np

# You can also use Python built-in functions as well
investor_df['Sqrt Amount'] = investor_df['Age'].apply(np.sqrt)
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal,Updated Portfolio Size,Sqrt Amount
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early,1650.0,4.795832
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans,45383.8,5.099020
0,Ryan,David,32,80100.0,5.0,aggressive,buy house,88110.0,5.656854
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education,165559.9,6.324555
3,Victoria,Keller,43,300901.0,NaN,moderate,investment property,330991.1,6.557439
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire,441321.1,7.071068
7,Nancy,Smith,55,900000.0,17.0,conservative,retire,990000.0,7.416198
1,Sherif,George,54,950000.0,30.0,conservative,retire,1045000.0,7.348469
6,Chris,Peter,38,NaN,8.0,moderate,kids education,NaN,6.164414

In [42]:
# Define a function titled "ranking" that takes in the portfolio size and assign a low, medium or high rank
def ranking(x):
    if x < 100000:
        return 'low'
    elif x > 100000 and x < 500000:
        return 'medium'
    else:
        return 'high' 
    
investor_df['Rank'] = investor_df['Portfolio Size'].apply(ranking)
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal,Updated Portfolio Size,Sqrt Amount,Rank
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early,1650.0,4.795832,low
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans,45383.8,5.099020,low
0,Ryan,David,32,80100.0,5.0,aggressive,buy house,88110.0,5.656854,low
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education,165559.9,6.324555,medium
3,Victoria,Keller,43,300901.0,NaN,moderate,investment property,330991.1,6.557439,medium
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire,441321.1,7.071068,medium
7,Nancy,Smith,55,900000.0,17.0,conservative,retire,990000.0,7.416198,high
1,Sherif,George,54,950000.0,30.0,conservative,retire,1045000.0,7.348469,high
6,Chris,Peter,38,NaN,8.0,moderate,kids education,NaN,6.164414,high

#### Merging, concatenation

In [ ]:
investor_df_combined = pd.concat(['group1_df', 'group2_df']) #remove the quotes
# Note that index need to be reset, you can achieve this using df.reset_index()
# drop = True is used to drop the index column after reset_index() operation is performed
investor_df_combined.reset_index(drop = True)

# Let's assume we acquired new information such as investors salaries and job titles
investor_new_df = pd.read_csv('investors_new_information.csv')
# Let's merge data on 'Investor ID'
investor_df = pd.merge(investor_df_combined, investor_new_df, on = 'Investor ID')
investor_df

In [50]:
import yfinance as yf 
# Using Yahoo Finance tool to fetch all data related to stock of interest
# data is obtained in an object, we can then apply methods to get data from object
# output is returned in a Python dictionary
stock = yf.Ticker("AAPL")
# Let's obtain the company beta
# Remember that Beta is a measure of the security volatility compared to the market (S&P 500) 
# Stocks with betas greater than 1.0 are more volatile compared to S&P 500 
print("The company beta is = {}".format(stock.info['beta']))
# Let's obtain the company's free cash flow (FCF)  
# Free cash flow is the cash left in a company after it pays for its operating and capital expenditures.
print("The company cash is = ${}".format(stock.info['freeCashflow']))
# Let's obtain the Price-to-Earnings (P/E) Ratio 
# Price-to-Earnings (P/E) ratio is calculated by dividing the current share price by its earnings per share (EPS) 
# High price-to-earnings ratio could indicate that the company's stock is overvalued 
# Example: S&P500 P/E ratio ranged from 5x in 1917 to 120x in 2009 right before the financial crisis 
# Trailing P/E is calculated using past performance by dividing the current stock price by total EPS earnings over the past 12 months.
print("The company Price-to-Earnings (P/E) ratio is = {} ".format(stock.info['trailingPE']))

The company beta is = 1.24
The company cash is = $86158123008
The company Price-to-Earnings (P/E) ratio is = 33.89041

In [57]:
# Using Yahoo Finance tool to fetch stock data
# Actions is used to obtain dividends and stock splits 
dividends_splits_df = stock.actions
dividends_splits_df

                           Dividends  Stock Splits
Date
1987-05-11 00:00:00-04:00   0.000536           0.0
1987-06-16 00:00:00-04:00   0.000000           2.0
1987-08-10 00:00:00-04:00   0.000536           0.0
1987-11-17 00:00:00-05:00   0.000714           0.0
1988-02-12 00:00:00-05:00   0.000714           0.0
...                              ...           ...
2023-08-11 00:00:00-04:00   0.240000           0.0
2023-11-10 00:00:00-05:00   0.240000           0.0
2024-02-09 00:00:00-05:00   0.240000           0.0
2024-05-10 00:00:00-04:00   0.250000           0.0
2024-08-12 00:00:00-04:00   0.250000           0.0

[89 rows x 2 columns]

In [52]:
# Let's view some recommendations
stock.recommendations.tail(20)

  period  strongBuy  buy  hold  sell  strongSell
0     0m         11   21     6     0           0
1    -1m         12   21    10     1           0
2    -2m         12   19    12     1           0
3    -3m         10   24     7     1           0

In [58]:
# Let's obtain the balance sheet for Apple
balance_df = stock.get_balance_sheet()
balance_df.round()

,2023-09-30,2022-09-30,2021-09-30,2020-09-30,2019-09-30
TreasurySharesNumber,0.0,NaN,NaN,NaN,NaN
OrdinarySharesNumber,15550061000.0,15943425000.0,16426786000.0,16976763000.0,NaN
ShareIssued,15550061000.0,15943425000.0,16426786000.0,16976763000.0,NaN
NetDebt,81123000000.0,96423000000.0,89779000000.0,74420000000.0,NaN
TotalDebt,123930000000.0,132480000000.0,136522000000.0,122278000000.0,NaN
...,...,...,...,...,...
CashCashEquivalentsAndShortTermInvestments,61555000000.0,48304000000.0,62639000000.0,90943000000.0,NaN
OtherShortTermInvestments,31590000000.0,24658000000.0,27699000000.0,52927000000.0,NaN
CashAndCashEquivalents,29965000000.0,23646000000.0,34940000000.0,38016000000.0,NaN
CashEquivalents,1606000000.0,5100000000.0,17635000000.0,20243000000.0,NaN
CashFinancial,28359000000.0,18546000000.0,17305000000.0,17773000000.0,NaN

In [59]:
# Let's import datetime package 
import datetime
 
# Specify the starting date 
startDate = datetime.datetime(2021, 3, 1)
 
# Specify the end date 
endDate = datetime.datetime(2022, 3, 1)
 
# Obtain the stock price data
print(stock.history(start = startDate, end = endDate))

                                 Open        High         Low       Close  \
Date
2021-03-01 00:00:00-05:00  121.323724  125.421770  120.382547  125.284515
2021-03-02 00:00:00-05:00  125.892366  126.196286  122.559026  122.666870
2021-03-03 00:00:00-05:00  122.362922  123.245278  119.451152  119.666840
2021-03-04 00:00:00-05:00  119.362937  121.176664  116.294307  117.774696
2021-03-05 00:00:00-05:00  118.608038  119.549215  115.264891  119.039406
...                               ...         ...         ...         ...
2022-02-22 00:00:00-05:00  162.706650  164.393093  159.915644  162.055756
2022-02-23 00:00:00-05:00  163.258963  163.860558  157.548752  157.864349
2022-02-24 00:00:00-05:00  150.477553  160.606043  149.905543  160.497559
2022-02-25 00:00:00-05:00  161.582368  162.844729  158.653292  162.578461
2022-02-28 00:00:00-05:00  160.813145  163.140626  160.191821  162.844757

                              Volume  Dividends  Stock Splits
Date
2021-03-01 00:00:00-05:00  116307900        0.0           0.0
2021-03-02 00:00:00-05:00  102260900        0.0           0.0
2021-03-03 00:00:00-05:00  112966300        0.0           0.0
2021-03-04 00:00:00-05:00  178155000        0.0           0.0
2021-03-05 00:00:00-05:00  153766600        0.0           0.0
...                              ...        ...           ...
2022-02-22 00:00:00-05:00   91162800        0.0           0.0
2022-02-23 00:00:00-05:00   90009200        0.0           0.0
2022-02-24 00:00:00-05:00  141147500        0.0           0.0
2022-02-25 00:00:00-05:00   91974200        0.0           0.0
2022-02-28 00:00:00-05:00   95056600        0.0           0.0

[253 rows x 7 columns]

In [64]:
stock = yf.Ticker("META")
print("The company beta is = {}".format(stock.info['beta']))
stock = yf.Ticker("AAPL")
print("The company beta is = {}".format(stock.info['beta']))
stock = yf.Ticker("SPOT")
print("The company beta is = {}".format(stock.info['beta']))
stock = yf.Ticker("PG")
print("The company beta is = {}".format(stock.info['beta']))
# Bitcoin 
# 'circulatingSupply': 19213206,
# 'previousClose': 16267.259
# Bitcoin and other cryptos are referenced with respect to the US dollar hence the naming convention BTC-USD, LTC-USD..etc.
crypto = yf.Ticker("BTC-USD")
crypto.fast_info

The company beta is = 1.213
The company beta is = 1.24
The company beta is = 1.577
The company beta is = 0.407

lazy-loading dict with keys = ['currency', 'dayHigh', 'dayLow', 'exchange', 'fiftyDayAverage', 'lastPrice', 'lastVolume', 'marketCap', 'open', 'previousClose', 'quoteType', 'regularMarketPreviousClose', 'shares', 'tenDayAverageVolume', 'threeMonthAverageVolume', 'timezone', 'twoHundredDayAverage', 'yearChange', 'yearHigh', 'yearLow']

In [67]:
stock = yf.Ticker("AAPL")
# Specify the starting date 
startDate = datetime.datetime(2024, 2, 20)
# Specify the end date 
endDate = datetime.datetime(2024, 3, 2)
# Obtain the stock price data
volume = stock.history(start = startDate, end = endDate)['Volume']
# print out the volume per day
volume

Date
2024-02-20 00:00:00-05:00     53665600
2024-02-21 00:00:00-05:00     41529700
2024-02-22 00:00:00-05:00     52292200
2024-02-23 00:00:00-05:00     45119700
2024-02-26 00:00:00-05:00     40867400
2024-02-27 00:00:00-05:00     54318900
2024-02-28 00:00:00-05:00     48953900
2024-02-29 00:00:00-05:00    136682600
2024-03-01 00:00:00-05:00     73488000
Name: Volume, dtype: int64