In [9]:
# Import key librares and modules 
import pandas as pd
import numpy as np
import datetime as dt
import yfinance as yf
import matplotlib.pyplot as plt

amzn_df = yf.download('AMZN', start='2020-01-01', end='2023-12-31')
amzn_df.head(4)

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-01-02  93.750000  94.900497  93.207497  94.900497  94.900497  80580000
2020-01-03  93.224998  94.309998  93.224998  93.748497  93.748497  75288000
2020-01-06  93.000000  95.184502  93.000000  95.143997  95.143997  81236000
2020-01-07  95.224998  95.694504  94.601997  95.343002  95.343002  80898000

In [15]:
# Count the number of missing values in "stock_df" Pandas DataFrame
print(amzn_df.isnull().sum())
print('\n')
#get info
amzn_df.info()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1006 entries, 2020-01-02 to 2023-12-29
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1006 non-null   float64
 1   High       1006 non-null   float64
 2   Low        1006 non-null   float64
 3   Close      1006 non-null   float64
 4   Adj Close  1006 non-null   float64
 5   Volume     1006 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 55.0 KB